button.prev {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 50px;
    height: 40px;
}

button.next {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 50px;
    height: 40px;
}

button {
    border-radius: 20%;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.zmanim-div {
    margin: auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    height: auto;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

table {
    font-size: 1.2em;
    font-weight: 550;
    margin: 20px auto 15px auto;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

td:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    pointer-events: none;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

table {
    width: 100%; /* Allow the table to fill the container */
    max-width: 600px; /* Set a maximum width */
    border-collapse: collapse; /* Collapse borders */
    table-layout: fixed; /* Fixed layout for consistent cell widths */
}

.zman-table {
    margin: 20px auto; /* Center the table */
}

.zman-table td {
    width: 150px; /* Fixed width for each cell */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: right; /* Align text to the right */
    direction: rtl; /* Set text direction to right-to-left */
}
select {
    font-size: 1em;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: grid;
}

input#date-input {
    position: absolute;
}

@media (max-width: 600px) {
    .zmanim-div {
        width: 100%;
    }
    button.prev, button.next {
        width: 40px;
        height: 35px;
    }
}